{{- $include := list "@anthropic-ai/claude-code" "@openai/codex" -}}
{{- if eq .hosttype "personal" }}{{ $include = append $include "@bitwarden/cli" }}{{ end -}}
#!/data/data/com.termux/files/usr/bin/bash
set -euo pipefail
{{ template "pnpm-globals" dict "include" $include }}
