#!/bin/bash
BREW_FORMULAS=(
  bash
  bash-completion@2
  chezmoi
{{- if eq .hosttype "ewn" }}
  dashlane/tap/dashlane-cli
{{- end }}
  gnupg
  htop
{{- if eq .hosttype "ewn" }}
  node@20
{{- else }}
  node
{{- end }}
  pnpm
  ripgrep
  starship
  tmux
  vim
)
BREW_CASKS=(
  google-chrome
  visual-studio-code
  wezterm
)

brew update
brew install $(printf "%s " "${BREW_FORMULAS[@]}")
brew install --cask $(printf "%s " "${BREW_CASKS[@]}")

# Replace ZSH with newer Bash
BASH_PATH=/opt/homebrew/bin/bash
grep -Fxq "$BASH_PATH" /etc/shells || echo "$BASH_PATH" | sudo tee -a /etc/shells
chsh -s "$BASH_PATH"

# Install ble.sh
curl -L https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly.tar.xz | tar -xJf - -C /tmp
bash /tmp/ble-nightly/ble.sh --install "$HOME/.local/share"
rm -Rf /tmp/ble-nightly

# Install Nerd Font
curl -fsSL https://raw.githubusercontent.com/getnf/getnf/main/install.sh | bash
getnf -i CascadiaCode
