local wezterm = require 'wezterm'

local config = wezterm.config_builder()

config.color_scheme = 'Helios (base16)'
{{- if eq .osid "windows" }}
config.default_prog = { 'psmux' }
{{- end }}
config.font = wezterm.font '{{ .font }}'
{{- if eq .osid "windows" }}
-- The default font size is huge on Windows
config.font_size = 10
{{- end }}
-- Fix transparency issue on monitor disconnect
-- https://github.com/wezterm/wezterm/issues/6359#issuecomment-3749928356
for _, gpu in ipairs(wezterm.gui.enumerate_gpus()) do
  if gpu.backend == 'Vulkan' and gpu.device_type == 'IntegratedGpu' then
    config.front_end = 'WebGpu'
    config.webgpu_preferred_adapter = gpu
    break
  end
end
-- Use native SSH on all platforms
config.mux_enable_ssh_agent = false
config.enable_tab_bar = false
config.unicode_version = 14
config.window_background_opacity = 0.8
config.window_decorations = "RESIZE"

wezterm.on('toggle-opacity', function(window, pane)
  local overrides = window:get_config_overrides() or {}
  if overrides.window_background_opacity then
    overrides.window_background_opacity = nil
  else
    overrides.window_background_opacity = 1.0
  end
  window:set_config_overrides(overrides)
end)

config.keys = {
  {
    key = 'B',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.EmitEvent('toggle-opacity'),
  },
  -- Quick open URL
  {
    key = 'o',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.QuickSelectArgs {
      label = 'open url',
      patterns = {
        [[https?://[^\s"')\],]+]]
      },
      -- TODO: Enable when released
      --skip_action_on_paste = true,
      action = wezterm.action_callback(function(window, pane)
        local url = window:get_selection_text_for_pane(pane)
        wezterm.log_info('opening: ' .. url)
        wezterm.open_with(url)
      end),
    },
  },
}

wezterm.on('gui-startup', function(cmd)
  local tab, pane, window = wezterm.mux.spawn_window(cmd or {})
  window:gui_window():maximize()
end)

return config
