---
{{- if eq .hosttype "ewn" }}
'.config/skills/atlassian-cli':
  exact: true
  type: archive
  stripComponents: 2
  include: ["*/skill/**"]
  url: https://github.com/peetzweg/acli-skill/archive/719c3120f8d3dbfa45a91d90272f5286e9039cde.tar.gz
{{- end }}

'.config/skills/cloudflare':
  exact: true
  type: archive
  stripComponents: 3
  include: ["*/skills/cloudflare/**"]
  url: https://github.com/cloudflare/skills/archive/d3113039790f64e052ff80f351190da65e9b7510.tar.gz

'.config/skills/playwright-cli':
  exact: true
  type: archive
  stripComponents: 3
  include: ["*/skills/playwright-cli/**"]
  url: https://github.com/microsoft/playwright-cli/archive/refs/tags/v0.1.1.tar.gz

{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "windows") }}
'.config/wezterm/plugins/wez-tmux':
  exact: true
  stripComponents: 1
  type: archive
  url: https://github.com/sei40kr/wez-tmux/archive/d53fb08b8212d82c34abacfce167bfa79919bb41.tar.gz
{{- end }}

{{- if ne .chezmoi.os "windows" }}
# https://wezterm.org/shell-integration.html
'.config/wezterm/wezterm.sh':
  refreshPeriod: 128h
  type: file
  url: https://raw.githubusercontent.com/wezterm/wezterm/refs/heads/main/assets/shell-integration/wezterm.sh
{{- end }}

{{- if eq .chezmoi.os "android" }}
'.tmux/plugins/tpm-redux':
  exact: true
  stripComponents: 1
  type: archive
  url: https://github.com/RyanMacG/tpm-redux/archive/refs/tags/v1.0.0.tar.gz
{{- end }}

'.vim/autoload/plug.vim':
  refreshPeriod: 168h
  type: file
  url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
