{{- if eq .chezmoi.os "windows" }}
let data_dir = '~/vimfiles'
{{- else }}
let data_dir = '~/.vim'
{{- end }}

" Install built-in plugins
packadd! editorconfig

" Install missing vim-plug plugins
autocmd VimEnter * if len(filter(values(g:plugs), '!isdirectory(v:val.dir)'))
  \| PlugInstall --sync | source $MYVIMRC
\| endif

" Define Plugins
call plug#begin(data_dir . '/bundle')

" Sensible defaults
Plug 'tpope/vim-sensible'

" Chezmoi Templates
Plug 'alker0/chezmoi.vim'

" Toggle line number modes automatically
Plug 'jeffkreeftmeijer/vim-numbertoggle'

" Advanced Motions
Plug 'tpope/vim-repeat' " Used by easymotion
Plug 'chaoren/vim-wordmotion'
Plug 'easymotion/vim-easymotion'

" tmux-aware Navigation
Plug 'christoomey/vim-tmux-navigator'

{{- if eq .chezmoi.os "android" }}
" Clipboard polyfill
Plug 'Jorenar/fauxClip'
{{- end }}

" Fuzzy Finder
Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
Plug 'junegunn/fzf.vim'

" Language Server
Plug 'dense-analysis/ale'
Plug 'prabirshrestha/vim-lsp'
Plug 'mattn/vim-lsp-settings'
Plug 'rhysd/vim-lsp-ale'

" Autocomplete
Plug 'prabirshrestha/asyncomplete.vim'
Plug 'prabirshrestha/asyncomplete-lsp.vim'
Plug 'OmniSharp/omnisharp-vim'

" Git
Plug 'tpope/vim-fugitive'

" Theme
Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'

call plug#end()

{{- if eq .chezmoi.os "windows" }}
" Use PowerShell
" TODO: This appears to break vim-plug
"set shell=pwsh
"set shellcmdflag=-Command
"set shellquote=\"
"set shellxquote=
{{- end }}

" Fix Chezmoi file type race condition
let g:chezmoi#use_tmp_buffer = 1

" Enable line numbers
set number

" Set line length with guideline
set textwidth=100
set colorcolumn=+1

" Define glyphs for non-visible characters
set showbreak=↪\ 
set listchars=tab:⟶\ ,trail:·,extends:>,precedes:<,space:·
set list

" Sane leader key
nnoremap <SPACE> <Nop>
let g:mapleader=" "

" Easy Motion
let g:EasyMotion_do_mapping = 0 " Disable default mapping
let g:EasyMotion_smartcase = 1
let g:EasyMotion_startofline = 0

" <leader>f{char} to move to {char}
map <Leader>f <Plug>(easymotion-bd-f)
nmap <Leader>f <Plug>(easymotion-overwin-f)
"
" s{char}{char} mto move to {char}{char}
nmap s <Plug>(easymotion-overwin-f2)

" Move to line
map <Leader>L <Plug>(easymotion-bd-jk)
nmap <Leader>L <Plug>(easymotion-overwin-line)

" Move to word
map <Leader>w <Plug>(easymotion-bd-w)
nmap <Leader>w <Plug>(easymotion-overwin-w)

" hjkl motions
map <Leader>h <Plug>(easymotion-linebackward)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
map <Leader>l <Plug>(easymotion-lineforward)

{{- if eq .chezmoi.os "android" }}
let g:fauxClip_regcmds = {
\   '+': {
\     'yank':  'termux-clipboard-set',
\     'paste': 'termux-clipboard-get',
\   }
\ }
{{- end }}

" Vue Language Tools support
" https://github.com/mattn/vim-lsp-settings#volar-vue-language-tools
let g:lsp_settings_filetype_vue = ['vtsls', 'volar-server']
let g:lsp_settings_filetype_typescript = ['vtsls']

" Tab completion
inoremap <expr> <Tab>   pumvisible() ? "\<C-n>" : "\<Tab>"
inoremap <expr> <S-Tab> pumvisible() ? "\<C-p>" : "\<S-Tab>"
inoremap <expr> <cr>    pumvisible() ? asyncomplete#close_popup() : "\<cr>"

" TODO: Inteferes with WezTerm leader
" Force refresh completion (@ = space)
" imap <c-@> <Plug>(asyncomplete_force_refresh)

" Copy to clipboard in Visual/Select mode
vnoremap <C-c> "+y

" Theme
let g:airline_theme='base16_helios'
let g:airline_powerline_fonts = 1
let g:airline#extensions#tabline#enabled = 1

highlight NonText ctermfg=232
highlight SpecialKey ctermfg=232
