[alias]
	a = add
	aa = a -A
	ai = a -i
{{- if eq .chezmoi.os "windows" }}
	amt = !pwsh -File "~/Code/git-add-mergetool/git-add-mergetool.ps1"
{{- end }}
	ap = a -p
	b = branch
	ba = b -a
	bc = b --show-current
	br = b -lr
	bvv = b -vv
	c = commit
	cane = c --amend --no-edit
	cp = cherry-pick
	cpa = cp --abort
	cpc = cp --continue
	cpx = cp -x
	co = checkout
	d = diff
	ds = d --staged
	dt = difftool
	dts = dt --staged
	dtsy = dts -y
	dty = dt -y
	f = fetch
	fp = f --prune
{{- if eq .hosttype "ewn" }}
	jira = !pwsh -File "~/Desktop/git-jira.ps1"
	j = jira
	jc = j comment
	jl = j link
	jm = j move
	jv = j view
{{- end }}
	l = log
	lol = l --format=oneline-detailed
	m = merge
	ma = m --abort
	mc = m --continue
	mt = mergetool
	p = pull --prune
	r = restore
	rb = rebase
	rba = rb --abort
	rbc = rb --continue
	rbi = rb -i
	rs = r --staged
	rpo = remote prune origin
	s = status
	sol = show -s --format=oneline-detailed
	ss = s -s
	sss = s --show-stash
	st = stash
	stl = st list
	stp = st -p
	sw = switch
	swc = sw -c
{{- if eq .hosttype "ewn" }}
	unpicked = !pwsh -File "~/Code/git-unpicked/git-unpicked.ps1" -Format "oneline-detailed"
{{- end }}
	unsynced = l --branches --not --remotes --no-walk --decorate --format=oneline-detailed

[commit]
	gpgsign = true

[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
	# Git Bash comes with its own version of Vim, but we want the Windows version
	editor = 'C:\\Program Files\\Vim\\vim91\\vim.exe'
{{- else }}
	editor = vim
{{- end }}
	pager = delta
{{- if eq .chezmoi.os "windows" }}
	# Fix WezTerm unable to resolve %SYSTEMROOT% environment variable in default path
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if eq .chezmoi.os "android" }}
	# Termux has a special command for ssh to ensure ssh-agent is running
	sshCommand = ssha
{{- end }}

[delta]
	dark = true
	hyperlinks = true
	line-numbers = true
	navigate = true
	side-by-side = true

[diff]
	guitool = kdiff3

{{- if eq .chezmoi.os "windows" }}
[difftool "kdiff3"]
	path = C:\\Program Files\\KDiff3\\bin\\kdiff3.exe
{{- end }}

[gpg]
{{- if eq .chezmoi.os "windows" }}
	program = C:\\Program Files\\GnuPG\\bin\\gpg.exe
{{- else if .wsl }}
	program = /mnt/c/Program Files/GnuPG/bin/gpg.exe
{{- end }}

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictStyle = zdiff3
	tool = kdiff3

{{- if eq .chezmoi.os "windows" }}
[mergetool "kdiff3"]
	path = C:\\Program Files\\KDiff3\\bin\\kdiff3.exe
{{- end }}

[pretty]
	oneline-detailed = %C(auto,yellow)%h%C(auto,magenta)%  %C(auto,blue)%>(12,trunc)%ar %C(auto,green)%<(10,trunc)%aN %C(auto,reset)%s%C(auto,blue)% (trailers:key=Fixes,key=Resolves,separator=%x2C)%C(auto)%d

[user]
	name = Taylor Buchanan
	email = {{ .email | quote }}
	signingkey = {{ .signingkey }}
