# Enable the subsequent settings only in interactive sessions
case $- in
  *i*) ;;
    *) return;;
esac

{{- if not .wsl }}
# Launch directly into tmux when WezTerm isn't available
if ! command -v wezterm &> /dev/null && \
   command -v tmux &> /dev/null && \
   [[ ! "$TERM" =~ screen ]] && \
   [[ ! "$TERM" =~ tmux ]] && \
   [ -z "$TMUX" ]
then
  exec tmux new-session -As main
fi
{{- end }}

{{- if eq .chezmoi.os "android" }}
# BUG: USER isn't defined in Termux, so we define it to silence ble.sh
# https://github.com/akinomyoga/ble.sh/issues/596#issuecomment-2992320082
: "${USER:=$(id -un)}"
export USER
{{- end }}

# Forward GPG pinentry to terminal
export GPG_TTY=$(tty)

# Enable Bash Completion
{{- if eq .chezmoi.os "android" }}
BASH_COMP_PATH="/data/data/com.termux/files/usr/share/bash-completion/bash_completion"
{{- else if eq .chezmoi.os "darwin" }}
BASH_COMP_PATH="/opt/homebrew/etc/profile.d/bash_completion.sh"
{{- else }}
BASH_COMP_PATH="/usr/share/bash-completion/bash_completion"
{{- end }}
[[ -f "$BASH_COMP_PATH" ]] && . "$BASH_COMP_PATH"

# Enable ble.sh
. "$HOME/.local/share/blesh/ble.sh"

# Enable Starship
eval "$(starship init bash)"

{{- if ne .chezmoi.os "android" }}
# Enable WezTerm shell integration
. "$HOME/.config/wezterm/wezterm.sh"
{{- end }}

# Set up fzf key bindings and fuzzy completion
eval "$(fzf --bash)"

{{- if eq .chezmoi "android" }}
# Enable git-delta completion
eval "$(delta --generate-completion bash)"
{{- end }}

# Add aliases
. "$HOME/.bash_aliases"

