{{- if eq .chezmoi.os "windows" }}
let data_dir = '~/vimfiles'
{{- else }}
let data_dir = '~/.vim'
{{- end }}

" Install missing plugins
autocmd VimEnter * if len(filter(values(g:plugs), '!isdirectory(v:val.dir)'))
  \| PlugInstall --sync | source $MYVIMRC
\| endif

" Define Plugins
call plug#begin(data_dir . '/bundle')

" Sensible defaults
Plug 'tpope/vim-sensible'

" Chezmoi Templates
Plug 'alker0/chezmoi.vim'

" Toggle line number modes automatically
Plug 'jeffkreeftmeijer/vim-numbertoggle'

" Granular Word Motions
Plug 'chaoren/vim-wordmotion'

" Fuzzy Finder
Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
Plug 'junegunn/fzf.vim'

" Language Server
Plug 'dense-analysis/ale'
Plug 'prabirshrestha/vim-lsp'
Plug 'mattn/vim-lsp-settings'
Plug 'rhysd/vim-lsp-ale'

" Autocomplete
Plug 'prabirshrestha/asyncomplete.vim'
Plug 'prabirshrestha/asyncomplete-lsp.vim'
Plug 'OmniSharp/omnisharp-vim'

" Git
Plug 'tpope/vim-fugitive'

call plug#end()

{{- if eq .chezmoi.os "windows" }}
" Use PowerShell
" TODO: This appears to break vim-plug
"set shell=pwsh
"set shellcmdflag=-Command
"set shellquote=\"
"set shellxquote=
{{- end }}

" Fix Chezmoi file type race condition
let g:chezmoi#use_tmp_buffer = 1

" Enable line numbers
set number

" Set line length with guideline
set textwidth=100
set colorcolumn=+1

" Vue Language Tools support
" https://github.com/mattn/vim-lsp-settings#volar-vue-language-tools
let g:lsp_settings_filetype_vue = ['vtsls', 'volar-server']
let g:lsp_settings_filetype_typescript = ['vtsls']

" Tab completion
inoremap <expr> <Tab>   pumvisible() ? "\<C-n>" : "\<Tab>"
inoremap <expr> <S-Tab> pumvisible() ? "\<C-p>" : "\<S-Tab>"
inoremap <expr> <cr>    pumvisible() ? asyncomplete#close_popup() : "\<cr>"

" TODO: Inteferes with WezTerm leader
" Force refresh completion (@ = space)
" imap <c-@> <Plug>(asyncomplete_force_refresh)

" Copy to clipboard in Visual/Select mode
vnoremap <C-c> "+y

