local wezterm = require 'wezterm'

local config = wezterm.config_builder()

config.color_scheme = 'Helios (base16)'
{{- if eq .osid "windows" }}
config.default_prog = { 'pwsh', '-NoLogo' }
{{- end }}
config.font = wezterm.font 'CaskaydiaCove NF'
{{- if eq .osid "windows" }}
-- The default font size is huge on Windows
config.font_size = 10
{{- end }}
config.launch_menu = {}
{{- if eq .osid "windows" }}
table.insert(config.launch_menu, {
  label = "PowerShell Legacy",
  args = { "powershell", "-NoLogo" }
})
{{- end }}
config.unicode_version = 14
config.window_background_opacity = 0.9

return config
