local wezterm = require 'wezterm'

local config = wezterm.config_builder()

config.color_scheme = 'Helios (base16)'
{{- if eq .osid "windows" }}
config.default_prog = { 'pwsh', '-NoLogo' }
{{- end }}
config.font = wezterm.font 'CaskaydiaCove NFM'
{{- if eq .osid "windows" }}
-- The default font size is huge on Windows
config.font_size = 10
{{- end }}
config.window_background_opacity = 0.9

return config
