---
# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
# https://learn.microsoft.com/en-us/windows/package-manager/configuration/create
properties:
  configurationVersion: 0.2.0
  resources:
    - resource: Microsoft.Windows.Developer/DeveloperMode
      directives:
        description: Enable Developer Mode
        allowPrerelease: true
      settings:
        Ensure: Present
    - resource: Microsoft.Windows.Developer/Taskbar
      directives:
        description: Configure Taskbar
        allowPrerelease: true
      settings:
        SearchBoxMode: Hide
        TaskViewButton: Hide
        RestartExplorer: true
        WidgetsButton: Hide
    - resource: Microsoft.Windows.Developer/WindowsExplorer
      directives:
        description: Configure Explorer
        allowPrerelease: true
      settings:
        FileExtensions: Show
        HiddenFiles: Show
        ItemCheckBoxes: Show
        RestartExplorer: true
    - resource: Microsoft.Windows.Developer/ShowSecondsInClock
      directives:
        description: Show Seconds in Clock
        allowPrerelease: true
      settings:
        Ensure: Present
    - resource: Microsoft.Windows.Developer/EnableDarkMode
      directives:
        description: Enable Dark Mode
        allowPrerelease: true
      settings:
        Ensure: Present
        RestartExplorer: true
    - resource: PSDscResources/Environment
      dependsOn: [git]
      directives:
        description: Add Git binaries to Path
      id: gitPath
      settings:
        ensure: Present
        name: Path
        path: true
        target: [Machine]
        value: C:\Program Files\Git\bin
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: Install Git
      id: git
      settings:
        id: Git.Git
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: Install NodeJS
      id: nodejs
      settings:
        id: OpenJS.NodeJS.LTS
{{- if eq .hosttype "ewn" }}
        version: 20.19.1
{{- end }}
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: Install pnpm
      id: pnpm
      settings:
        id: pnpm.pnpm
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: Install PowerShell
      id: pwsh
      settings:
        id: Microsoft.PowerShell
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: Install Python Launcher
      id: pythonLauncher
      settings:
        id: Python.Launcher
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: Install Python
      id: python3
      settings:
        id: Python.Python.3.13
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: visualStudio
      directives:
        description: Install Visual Studio 2022
      settings:
{{- if eq .hosttype "ewn" }}
        id: Microsoft.VisualStudio.2022.Professional
{{- else }}
        id: Microsoft.VisualStudio.2022.Community
{{- end }}
        source: winget
