# Configure PSRSA module
Import-Module -Name $env:USERPROFILE/{{ .codeDir }}/PSRSA/src/PSRSA.psm1

# Configure Cloudflare CLI
$env:CF_API_TOKEN = {{ (index (dashlanePassword "Cloudflare API Token") 0).password | quote }}
