# winget.yaml hash: {{ include "winget.yaml.tmpl" | sha256sum }}
$ChezmoiSourceDir = {{ .chezmoi.sourceDir | quote }}
$OutputDir = Join-Path $ChezmoiSourceDir ".." "dist"
$TemplateFilePath = Join-Path $ChezmoiSourceDir "winget.yaml.tmpl"
$ConfigFilePath = Join-Path $OutputDir "winget.yaml"

New-Item -Path $OutputDir -ItemType Directory -Force | Out-Null
& {{ .chezmoi.executable | quote }} execute-template -f $TemplateFilePath | `
  Out-File -FilePath $ConfigFilePath
winget configure -f $ConfigFilePath --suppress-initial-details --accept-configuration-agreements

winget upgrade --all --accept-package-agreements --silent

# Purge Desktop Shortcuts
Join-Path $env:USERPROFILE "Desktop" "*.lnk" | Remove-Item
sudo pwsh { Remove-Item "C:\Users\Public\Desktop\*.lnk" }

# TODO: Download
# * ADOM: https://www.adom.de/home/downloads.html
# * Age of Empires II
# * Red Alert 2
# * Twinsen's Odyssey
# * Shark007 Codecs
# * VoxelMaker
# * Subtitle Workshop
# * SWF File Player: https://www.swffileplayer.com/
# * Brother Printer Drivers
# * Brother iPrint & Scan
# * HDHomeRun
# * Magic DVD Ripper
# * Minecraft - Java Edition

# TODO: PWAs
# * Audiobookshelf
# * Mealie
# * Home Assistant
# * Jellyfin
