#!/bin/bash
APT_REPOS=()
APT_PACKAGES=(
  "socat"
  "starship"
  "unzip"
)
{{ if eq .osid "linux-ubuntu" }}
SNAP_PACKAGES_CLASSIC=(
  "chezmoi"
  "powershell"
)
{{ end }}
{{ if .wsl }}
#####################################
# Windows Subsystem for Linux (WSL) #
#####################################
APT_REPOS+=(
  "ppa:dotnet/backports"
  "ppa:wslutilities/wslu"
)
APT_PACKAGES+=(
  "dotnet-sdk-9.0"
  "wslu"
)
#####################################
{{ end }}
for APT_REPO in "${APT_REPOS[@]}"; do
  sudo add-apt-repository -y "$APT_REPO"
done
sudo apt update
sudo apt -y install $(printf "%s " "${APT_PACKAGES[@]}")
{{- if eq .osid "linux-ubuntu" }}
for SNAP_PACKAGE in "${SNAP_PACKAGES_CLASSIC[@]}"; do
    sudo snap install --classic "$SNAP_PACKAGE"
done
{{ end }}

# Install Nerd Font
curl -fsSL https://raw.githubusercontent.com/getnf/getnf/main/install.sh | bash
getnf -i CascadiaCode
