@echo off
REM HACK: CMM throws an error on Windows when using the shebang method, so we call the exe directly
set TRIMMED={{ .chezmoi.sourceFile | trimSuffix ".bat.tmpl" | replace "modify_" "" }}
set CHEZMOI_SOURCE_FILE=%TRIMMED%
set OUTPUT_FILE={{ .chezmoi.sourceDir }}/../dist/kdiff3rc.cmm
chezmoi execute-template -f "{{ .chezmoi.sourceDir }}/%TRIMMED%.cmm.tmpl" > %OUTPUT_FILE%
chezmoi_modify_manager %OUTPUT_FILE%
